.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: left;
}

.item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.item img {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 250px;
    height: 420px;
    object-fit: cover;
    overflow: hidden;
    padding: 5px;
}

.item__overlay {
    background: rgba(255, 255, 255, 0.651);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    width: 250px;
    height: 420px;
    justify-items: center;
    align-items: center;
    transition: 0.5s ease;
    transform: translateY(100%);
}

.item:hover .item__overlay {
    height: 100%;
    transform: translateY(0);
}

